.container {
    width: min(100%, $max-width);
    padding: 0 30px;
    margin: 0 auto;
}

.title {
    max-width: 624px;
    font-size: 38px;
    font-weight: 600;
    color: $color-primary;
    margin: 0;
}

.description {
    max-width: 624px;
    font-size: 22px;
    font-weight: 500;
    color: $color-primary;
    opacity: 0.6;
    line-height: 180%;
    margin: 0;
}