.container {
    min-width: 1164px;
    height: 400px;
}

.clubName {
    font-size: 38px;
    font-weight: 700;
    color: #000;
    margin: 0;
}

.clubWhat {
    font-size: 38px;
    font-weight: 700;
    color: #847E7E;
    margin: 0;
}

.clubDescription {
    font-size: 22px;
    font-weight: 400;
    line-height: 180%;
    color: #666666;
    margin: 0;
}