.footer {
    width: 100%;

    padding: 0 30px;
}

.container {
    width: min(100%, $max-width);

    margin: 0 auto;
}

.additionInfo {
    color: #808080;

    line-height: 32px;
}

.sectionName {
    color: #9A9A9A;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column !important;
    }
}