// 공통 버튼 스타일
.buttonBase {
    padding: 16px 32px;    
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    
    @media (max-width: 530px) {
        min-width: 200px;
        padding: 12px 20px;
    }
    
    @media (min-width: 768px) {
        padding: 18px 38px;
    }
    
    @media (min-width: 1024px) {
        padding: 20px 45px;
    }
}

.primaryContainer {
    @extend .buttonBase;
    background-color: $color-primary;
}

.secondaryContainer {
    @extend .buttonBase;
    background-color: #FFF0E4;
    border: 2px solid $color-primary;
}

.primaryText {
    color: #FFF0E4;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.secondaryText {
    color: #FE5521;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s ease;
}

.primaryIcon {
    transition: color 0.3s ease;
}

.secondaryIcon {
    transition: color 0.3s ease;
}