.full {
    background-color: $color-primary;

    position: fixed;
    top: 0;
    z-index: 999;
}

.header {
    width: min(100%, $max-width);

    background-color: $color-primary;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 40px;
}

.nav > ul {
    display: flex;
    gap: 34px;
    
    list-style-type: none;

    & > li > a {
        color: white;
        opacity: 0.5;

        text-decoration: none;

        &[data-active="true"] {
            opacity: 1;
        }
    }
}

.submitButton {
    background-color: white;

    border: 0;

    padding: 10px 18px;

    border-radius: 12px;

    & > a {
        color: $color-primary;

        font-weight: 500;
        text-decoration: none;

        font-size: 14px;
    }
}