.a {
    color: black;

    text-decoration: none;
}

.title {
    width: 230px;

    font-size: 18px;
    line-height: 28px;
}

.clubName {
    font-size: 14px;
    font-weight: 600;
}

.image {
    border-radius: 12px;
    border: 1px solid #D9D9D9;
}


@media screen and (max-width: 550px) {
    .image {
        width: 200px;
        height: auto;
    }

    .a {
        span {
            width: 100%;
        }
    }

    .dot {
        display: none;
    }

    .clubNameContainer {
        flex-direction: column !important;
    }
}