.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.title {
    font-size: 42px;
    font-weight: 600;

    color: $color-primary;
}

.description {
    font-size: 22px;
    font-weight: 400;
    color: #666666;
}

.list {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 60px;
    row-gap: 80px;

    .photo {
        border-radius: 16px;

        object-fit: cover;
    }

    & > .photo:nth-child(odd) {
        border: 4px solid #FFD3B3;
        transform: rotate(-9deg);
    }

    & > .photo:nth-child(even) {
        border: 4px solid #FF825A;
        transform: rotate(9deg);
    }
}

.firstPhoto {
    border: 4px solid #FFD3B3;
    transform: rotate(-9deg);

    margin-top: -10px;
}

.arrow > span {
    color: #7B7B7B;

    transform: rotate(-4deg);
}

.leftArrow {
    & > img {
        transform: rotate(270deg);
    }
}

.rightArrow {
    margin-left: -30px;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 25px;
    }

    .title {
        font-size: 28px;

        word-break: keep-all;
        text-align: center;
    }

    .description {
        word-break: keep-all;
        text-align: center;

        line-height: 36px;
    }

    .rightArrow {
        display: none;
    }
}